{% extends "base.html" %} {% load static %} {% block content %}
<div class="original-background page-app pt-4 ps-2 pe-2">
    <div class="col-md-6 mx-auto mt-2 mb-2 p-3 post post-div">
        <div class="more-vert-div">
            <li class="dropdown more-button-list">
                <a href="#" class="more-text" id="navbarDropdown-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="p-0 m-o material-icons more-icon">more_vert</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-icon shadow" aria-labelledby="navbarDropdown-2">
                    <li class="dropdown-item">
                        <a href="/fingerprints/new_work/" class="nav-link text-reset">
                            <span class="material-icons-outlined align-middle">
                                report
                            </span> گزارش تخلف
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div id="post-text-{{object.pk}}">
            <div class="post-row">
                <div class="col col-avatar">
                    {% if object.user.avatar.url %}
                    <a href="/users/{{object.user.username}}/" class="image-link">
                        <img src="{{object.user.avatar.url}}" alt="user avatar" width="50" height="50" class="avatar">
                    </a>
                    {% else %}
                    <a href="/users/{{object.user.username}}/" class="image-link">
                        <img src="" alt="user avatar" width="50" height="50" class="avatar">
                    </a>
                    {% endif %}
                </div>
                <div class="col-title ps-2">
                    {% if object.post_type == 'اثر جدید' %}
                    <a href="/users/{{object.user.username}}/" class="user-first-last-name">{{object.user.first_name}}
                        {{object.user.last_name}}</a> اثر <a href="/works/{{object.work.pk}}/" class="work-title">{{object.work.title}} ({{object.work.work_type}})</a> را ثبت نمود. {% elif object.post_type == 'گواهی زمانی جدید' %}
                    <a href="/users/{{object.user.username}}/" class="user-first-last-name">{{object.user.first_name}}
                        {{object.user.last_name}}</a> یک گواهی زمانی برای اثر <a href="/works/{{object.fingerprint.work.pk}}/" class="work-title">{{object.fingerprint.work.title}}
                        ({{object.fingerprint.work.work_type}})</a> ثبت نمود. {% elif object.post_type == 'خبر جدید' %}
                    <a href="/users/{{object.user.username}}/" class="user-first-last-name">{{object.user.first_name}}
                        {{object.user.last_name}}</a> {% elif object.post_type == 'خبر به اشتراک‌گذاری شده' %}
                    <a href="/users/{{object.user.username}}/" class="user-first-last-name">{{object.user.first_name}}
                        {{object.user.last_name}}</a> {% endif %}
                    <p class="small user-name mb-0">@{{object.user.username}}</p>
                </div>
            </div>
            {% if object.post_type == 'اثر جدید' %} {% if object.work.description %}
            <div class="pt-1 ps-2 pe-2">
                    {{object.work.description|linebreaks}}
            </div>
            {% endif %} {% endif %} {% if object.post_type == 'گواهی زمانی جدید' %}
            <p class="pt-1 ps-2 pe-2 word-wrap">اثرانگشت: {{object.fingerprint.fingerprint}}</p>
            {% endif %} {% if object.text|linebreaks %}
            <div class="pt-2 ps-2 pe-2">
                    {{object.text|linebreaks}}
            </div>
            {% endif %}
            {% if post.post_type == 'خبر به اشتراک‌گذاری شده' %}
            <a href="/posts/{{object.shared_post.pk}}/" class="user-first-last-name d-block">
                <div class="shared-post-preview p-2 text-muted">
                    <div class="post-row">
                        <div class="col col-avatar">
                            {% if object.shared_post.user.avatar.url %}
                            <img src="{{object.shared_post.user.avatar.url}}" alt="user avatar" width="50" height="50" class="avatar"> {% else %}
                            <img src="" alt="user avatar" width="50" height="50" class="avatar"> {% endif %}
                        </div>
                        <div class="col-title ps-2">
                            {% if object.shared_post.post_type == 'اثر جدید' %} {{object.shared_post.user.first_name}} {{object.shared_post.user.last_name}} اثر {{object.shared_post.work.title}} ({{object.shared_post.work.work_type}}) را ثبت نمود.
                            {% elif object.shared_post.post_type == 'گواهی زمانی جدید' %} {{object.shared_post.user.first_name}} {{object.shared_post.user.last_name}} یک گواهی زمانی برای اثر {{object.shared_post.fingerprint.work.title}} ({{object.shared_post.fingerprint.work.work_type}}) ثبت نمود. {% elif
                            object.shared_post.post_type == 'خبر جدید' %} {{object.shared_post.user.first_name}} {{object.shared_post.user.last_name}} {% elif object.shared_post.post_type == 'خبر به اشتراک‌گذاری شده' %} {{object.shared_post.user.first_name}} {{object.shared_post.user.last_name}}
                            {% endif %}
                            <p class="small user-name mb-0">@{{object.shared_post.user.username}}</p>
                        </div>
                    </div>
                    {% if object.shared_post.post_type == 'اثر جدید' %} {% if object.shared_post.work.description %}
                    <div class="pt-1 ps-2 pe-2">
                            {{object.shared_post.work.description|linebreaks}}
                    </div>
                    {% endif %} {% endif %}
                    <div class="pt-1 ps-2 pe-2">
                        {% if object.shared_post.post_type == 'گواهی زمانی جدید' %}
                        <p class=" word-wrap">اثرانگشت: {{object.shared_post.fingerprint.fingerprint}}</p>
                        {% endif %} {% if object.shared_post.text %}
                        <p>
                            {{object.shared_post.text|linebreaks}}
                        </p>
                        {% endif %}
                    </div>

                </div>
            </a>
            {% endif %}
            {% if object.image and object.image.url %}
            <div class="mb-4">
                <img src="{{object.image.url}}" alt="post image" width="100%" height="auto">
            </div>
            {% endif %}
        </div>

        <hr class="p-0 mb-0">

        <div class="row">
            <div class="col-3">
                <div class="like-container pt-2">
                    <div class="wrapper">
                        <a href="javascript:void(0);" id="{{object.pk}}" class="like-button">
                            <i class="material-icons not-liked bouncy">favorite_border</i>
                            <i class="material-icons is-liked bouncy">favorite</i>
                            <span class="like-overlay"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="like-container pt-2">
                    <div class="wrapper">
                        <a href="javascript:void(0);" post-id="{{object.pk}}" class="comment-button" id="comment-button">
                            <i class="material-icons not-liked bouncy">chat</i>
                            <i class="material-icons is-liked bouncy">chat</i>
                            <span class="like-overlay"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="like-container pt-2">
                    <div class="wrapper">
                        <a href="javascript:void(0);" post-id="{{object.pk}}" class="share-button">
                            <i class="material-icons not-liked bouncy">share</i>
                            <i class="material-icons is-liked bouncy">share</i>
                            <span class="like-overlay"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="like-container pt-2">
                    <div class="wrapper dropup">
                        <a href="javascript:void(0);" class="action-button"  id="share-button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons not-liked bouncy">ios_share</i>
                            <i class="material-icons is-liked bouncy">ios_share</i>
                            <span class="like-overlay"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="share-button">
                            <li><a class="dropdown-item" href="javascript:copyaddress({{object.pk}});">کپی لینک</a></li>
                            <li><a class="dropdown-item system-share" href="javascript:shareaddress({{object.pk}});">به اشتراک‌گذاری با...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none" id="comments-div-{{object.pk}}">
            <div class="new-comment-div pt-3">
                <div class="comment-avatar">
                    {% if request.user.avatar and request.user.avatar.url %}
                    <img class="avatar" src="{{request.user.avatar.url}}" alt="user avatar" width="40px" height="40px"> {% else %}
                    <img class="avatar" src="" alt=""> {% endif %}
                </div>
                <div class="comment-input ps-2 pe-2">
                    <form class="comment-form" id="comment-form-{{object.pk}}">
                        <textarea class="form-control search-input autosize comment-form-input" post-id="{{object.pk}}" name="text" placeholder="نظر شما چیه؟" maxlength="255"></textarea>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %} {% block end_javascript %}
<script>
    async function post() {
        await get_likes(true)
        buttons();
        share_buttons();
        comment_buttons();
        action_buttons();
        autosize_auto();
        document.getElementById("comment-button").click()
        
    }
    post()
</script>
{% endblock end_javascript %}