{% load static i18n %}<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}inonet{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Art">
    <meta name="author" content="Soheil Paidar">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% block added_css %} {% endblock added_css %}
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS and its dependencies-->
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
      {% block added_javascript %} {% endblock added_javascript %}
    {% endblock javascript %}

  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow main-nav pt-0 pb-0">
  <div class="container-fluid">
    <button class="navbar-toggler menu-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons-outlined">menu</span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/inonet.jpg' %}" alt="" width="40" height="40" class="d-inline-block align-text-top">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/works/new/">ثبت اثر</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ثبت گواهی زمانی</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">بلاگ</a>
        </li>
      </ul>
      <div class="abs-center-x">
        <form class="d-flex">
          <input class="form-control search-input" type="search" placeholder="جست و جو" aria-label="Search"></form>
      </div>
    </div>
    <div class="nav-icons ms-auto">
      <ul class="navbar-nav navbar-nav-icons mb-0">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:detail' request.user.username  %}" id="profile">
            <span class="material-icons nav-icon">account_circle</span>
          </a>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="navbarDropdown-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-icons nav-icon">control_point</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-icon shadow" aria-labelledby="navbarDropdown-2">
            <li class="dropdown-item">
              <a href="/works/new/" class="nav-link">
                  <span class="material-icons-outlined align-middle">
                  note_add
                  </span>
                  اثر جدید
              </a>
              </li>
              <li class="dropdown-item">
                <a href="/fingerprints/new_work/" class="nav-link">
                    <span class="material-icons-outlined align-middle">
                      fingerprint
                    </span>                    
                      ثبت گواهی‌زمانی
                </a>
              </li>
              <li class="dropdown-item">
                <a href="/fingerprints/validate/" class="nav-link">
                  <span class="material-icons-outlined  align-middle">
                    verified
                  </span>
                    اعتبارسنجی
                  </a>
              </li>
              <li class="dropdown-item">
                <a href="javascript:void(0);" class="nav-link" id=new-post-nav>
                  <span class="material-icons-outlined  align-middle">
                    feed
                  </span>
                    خبر جدید
                </a>
              </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="navbarDropdown-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-icons nav-icon">notifications</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-icon shadow" aria-labelledby="navbarDropdown-2">
              <li class="dropdown-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="/">{% trans "پروفایل" %}</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="/">{% trans "خروج" %}</a>
              </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " href="#" id="navbarDropdown-3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-icons-outlined nav-icon">settings</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-icon shadow" aria-labelledby="navbarDropdown-3">
              <li class="dropdown-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="/">{% trans "پروفایل" %}</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'account_logout' %}">{% trans "خروج" %}</a>
              </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown-1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-icons nav-icon">account_circle</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-icon shadow" aria-labelledby="navbarDropdown-1">
                       
              <li class="dropdown-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "ثبت نام" %}</a>
              </li>
              <li class="dropdown-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "ورود" %}</a>
              </li>
            
            
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>





    {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}


    {% block modal %}

    
    
    {% endblock modal %}

    {% block inline_javascript %}
    {# Script tags with only code, no src (defer by default) #}
    {% endblock inline_javascript %}
    <!-- new post -->
<div class="modal fade" id="new-post-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ask-modal">
      <div class="modal-body">
          <form id="new-post-form">
              <div>
                  {{ form.non_field_errors }}
              </div>
              {% csrf_token %}
              <div class="fieldWrapper">
                  {{ form.text.errors }}
                  <textarea class="post-input p-2 autosize" id="new-post-text" name="text" rows="5" maxlength="511" required="" id="id_text" placeholder="{{request.user.first_name}}، چه خبر جدیدی داری؟"></textarea>
              </div>
              <div class="fieldWrapper d-none">
                  {{ form.shared_post.errors }}
                  <input class="post-input p-2" id="new-post-shared_post" name="shared_post">
              </div>
              <div class="fieldWrapper d-none">
                {{ form.draft.errors }}
                <input type="checkbox" name="draft" id="id_draft">
            </div>
              <div class="fieldWrapper" id="new-post-image">
                  {{ form.image.errors }}
                  <label class="text-center text-primary" for="picture-upload-file">
                    <img id="new-post-picture-upload-img" src="">
                     <span id="new-post-image-label">افزودن تصویر</span>
                  </label>
                  <div class="close-button">
                    <img id="close-button" class="close-button-icon" src="{% static 'images/close-red.png' %}" alt="" width="24px" height="24px">
                  
                  </div>
                  <input name="image" type="file" id="picture-upload-file" /> 
              </div>
          </form>
          <div class="pt-2" style="text-align: left;">
          <a href="javascript:void(0);" class="btn btn-primary" id="new-post-button">ارسال خبر</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="discard-post-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ask-modal">
      <div class="modal-body">
        <p>آیا می‌خواهید آن چه نوشته‌اید پاک شود؟</p>
        <div class="row">
          <div class="col-6 text-center">
            <a href="javascript:void(0)" class="btn btn-success ask-option" id="save-draft">ذخیره در پیش‌نویس‌ها</a> 
          </div>
          <div class="col-6 text-center">
            <a href="javascript:void(0)" class="btn btn-danger ask-option" id="discard-post">پاک کردن نوشته</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Share Modal -->
<div class="modal fade" id="share-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ask-modal">
      <div class="modal-body">
        <a href="javascript:void(0)" class="ask-option" id="share-share-post"><p>اشتراک‌گذاری</p></a>
        <hr>
        <a href="javascript:void(0)" class="ask-option share-with-post" id="share-share-post-with-post"><p>اشتراک‌گذاری با نوشتن خبر</p></a>
        </div>
    </div>
  </div>
</div>
    
<div class="modal fade" id="unshare-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ask-modal">
      <div class="modal-body">
        <a href="javascript:void(0)" class="ask-option" id="unshare-unshare-post"><p>حذف اشتراک‌گذاری</p></a>
        <hr>
        <a href="javascript:void(0)" class="ask-option share-with-post" id="unshare-share-post-with-post"><p>اشتراک‌گذاری با نوشتن خبر</p></a>
      </div>
    </div>
  </div>
</div>    

  
    
    
<div class="container">
  {% if messages %}
  {% for message in messages %}
    <div class="position-fixed bottom-0 start-0 p-3" style="z-index: 11">
      <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">{% if message.tags %}alert-{{ message.tags }}{% endif %} </strong>
          <!-- <small>11 mins ago</small> -->
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
<script src="{% static 'js/autosize.js' %}"></script>
<script>
  function autosize_auto() {
    console.log("gyuh")
    autosize(document.querySelectorAll('.autosize'));
  }
  autosize_auto()
</script>
<script>
  const new_post_modal = new bootstrap.Modal(document.getElementById("new-post-modal"));
  function new_post() {
    document.getElementById("new-post-modal").classList.remove("succeed");
    document.getElementById("new-post-shared_post").value = "";
    document.getElementById("id_draft").checked = false;
    document.getElementById("id_draft").value = "off";
    new_post_modal.show();
    
  }
  document.getElementById("new-post-modal").addEventListener("shown.bs.modal", ()=> {
      document.getElementById("new-post-text").focus();
      if (document.getElementById("new-post-text").value === "") {
        document.getElementById("new-post-button").classList.add("disabled");
      }
      document.getElementById("new-post-text").addEventListener("keyup", ()=> {
        if (document.getElementById("new-post-text").value !== "") {
        document.getElementById("new-post-button").classList.remove("disabled");
      } else {
        document.getElementById("new-post-button").classList.add("disabled");
      }
      })
    })
  document.getElementById("new-post-nav").addEventListener("click", ()=> {
    new_post();
  })
</script>
<script>
  var toastElList = [].slice.call(document.querySelectorAll('.toast'))
  toastElList.map(function (toastEl) {
    toast = new bootstrap.Toast(toastEl, {delay:20000});
    toast.show();
  })
</script>
<script>
  const new_post_image_file_reader = new FileReader();
  const new_post_image_file_fileInput = document.getElementById("picture-upload-file");
  const new_post_image_file_img = document.getElementById("new-post-picture-upload-img");
  let new_post_image_file_file;

  new_post_image_file_reader.onload = e => {
    new_post_image_file_img.src = e.target.result;
    document.getElementById("close-button").style.display = "block";
    document.getElementById("new-post-image-label").innerHTML = "تغییر تصویر"
  }

  new_post_image_file_fileInput.addEventListener('change', e => {
  const f = e.target.files[0];
  new_post_image_file_file = f;
  new_post_image_file_reader.readAsDataURL(f);
})
function reset_new_post_image_input() {
  new_post_image_file_img.src = "";
  document.getElementById("close-button").style.display = "none";
  document.getElementById("new-post-image-label").innerHTML = "افزودن تصویر"
  new_post_image_file_fileInput.value = "";
}
document.getElementById("close-button").addEventListener("click", ()=>{
  reset_new_post_image_input();
})

</script>
<script>
  // check to save draft
   const discard_post_modal = new bootstrap.Modal(document.getElementById("discard-post-modal"), {backdrop:"static", keyboard:false});
  document.getElementById("new-post-modal").addEventListener("hide.bs.modal", ()=> {
      if (document.getElementById("new-post-text").value !== "" || new_post_image_file_fileInput.value !== "") {
        if (document.getElementById("new-post-modal").classList.contains("succeed") === false) {
        discard_post_modal.show()
        }
      }
    })
  document.getElementById("discard-post").addEventListener("click", ()=> {
    document.getElementById("new-post-text").value = "";
    reset_new_post_image_input();
    discard_post_modal.hide();
  })
  
  document.getElementById("save-draft").addEventListener("click", ()=> {
    document.getElementById("id_draft").checked = true;
    document.getElementById("id_draft").value = "on";
    console.log(document.getElementById("id_draft").checked)
    discard_post_modal.hide();
    send_new_post();
  })
</script>
<script>
async function get_likes() { 
  response = await fetch("/posts/user_likes/");
  res = await response.json();
  console.log(res.likes)
  localStorage.removeItem("inonet_likes")
  localStorage.setItem("inonet_likes", res.likes.likes)
  localStorage.removeItem("inonet_shares")
  localStorage.setItem("inonet_shares", res.shares.shares)
  console.log("likes:" + localStorage.getItem("inonet_likes"))
}
</script>
<script>
if (localStorage.getItem('inonet_likes')) {
    console.log(Object.getOwnPropertyNames(localStorage.getItem('inonet_likes')))
  } else {
    
  get_likes();
}
</script>
<script>
// New post

async function send_new_post() {
  console.log("clik")
  const new_post_form = document.getElementById("new-post-form")
  formdata = new FormData(new_post_form);
  document.getElementById("new-post-button").classList.add("disabled");
  document.getElementById("new-post-button").innerHTML = 'در حال ارسال <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>';
  response = await fetch("/posts/new/", {method:"POST", body: formdata});
  console.log(formdata)
  res = await response.json();
  await console.log(res)
  if (res.status === "success") {
    console.log(res.post);
    document.getElementById("new-post-modal").classList.add("succeed");
    new_post_modal.hide();
    document.getElementById("new-post-text").value = "";
    reset_new_post_image_input();
    document.getElementById("new-post-button").classList.remove("disabled");
    document.getElementById("new-post-button").innerHTML = 'ارسال خبر';
  }
}
document.getElementById("new-post-button").addEventListener("click", ()=> {
    console.log('a')
    send_new_post();
  })
</script>
<script>
  var post_id = 0;
  // share with post
Array.prototype.forEach.call(document.getElementsByClassName("share-with-post"), (el)=>{
  el.addEventListener("click", ()=> {
    console.log("share")
    if (post_id > 0) {
      document.getElementById("new-post-shared_post").value = post_id;
      share_modal.hide();
      new_post_modal.show();
    }
  })
})
  
</script>
  <form id="csrf" >
    {% csrf_token %}
  </form>
<script>
function buttons() {
els = document.getElementsByClassName('like-button');
Array.prototype.forEach.call(els, function (el) {
  async function get_likes_from_storage() {
    await get_likes()
    likes = await localStorage.getItem("inonet_likes");
    if (likes.includes(el.id)) {
      el.classList.add("is-active");
    } 
  }
  get_likes_from_storage();
  el.addEventListener("click", () => {
    if (el.classList.contains("is-active")) {
      console.log("active")
      async function dislike_post(id) {
          const csrf = document.getElementById("csrf");
          formdata = new FormData(csrf)
          response = await fetch("/posts/dislike/"+id+"/", {method:"POST", body: formdata});
          res = await response.json();
          await console.log(res.status)
          if (res.status === "success") {
            console.log("disliked");
            get_likes();
          } else if (res.status === "failed") {
            console.log(res.errors);
          }
        }
        dislike_post(el.id);
        get_likes();
    } else {
      console.log("not active")
      async function like_post(id) {
          const csrf = document.getElementById("csrf");
          formdata = new FormData(csrf)
          response = await fetch("/posts/like/"+id+"/", {method:"POST", body: formdata});
          res = await response.json();
          await console.log(res.status)
          if (res.status === "success") {
            console.log("liked");
            
          } else if (res.status === "failed") {
            console.log(res.errors);

          }
        }
        like_post(el.id);
         get_likes();
    }
        el.classList.toggle("is-active")
  } )

})
}

</script>
<script>
const post_share_modal = new bootstrap.Modal(document.getElementById("new-post-modal"));
function share_buttons() {
els = document.getElementsByClassName('share-button');
Array.prototype.forEach.call(els, function (el) {
  async function get_shares_from_storage() {
    await get_likes()
    shares = await localStorage.getItem("inonet_shares");
    if (shares.includes(el.getAttribute("post-id"))) {
      el.classList.add("is-active");
    } 
  }
  get_shares_from_storage();
  el.addEventListener("click", () => {
    post_id = el.getAttribute("post-id");
    console.log("post_id: "+ post_id);
    if (el.classList.contains("is-active")) {
        const unshare_modal = new bootstrap.Modal(document.getElementById('unshare-modal'));
        unshare_modal.show()
        console.log("active")
        async function unshare_post(id) {
            const csrf = document.getElementById("csrf");
            formdata = new FormData(csrf)
            response = await fetch("/posts/unshare/"+id+"/", {method:"POST", body: formdata});
            res = await response.json();
            await console.log(res.status)
            if (res.status === "success") {
              console.log("unshared");
              get_likes();
            } else if (res.status === "failed") {
              console.log(res.errors);
            }
          }
        document.getElementById("unshare-unshare-post").addEventListener("click", ()=> {
          unshare_post(el.getAttribute("post-id"));
          get_likes();
          el.classList.remove("is-active");
          unshare_modal.hide();
        })
        document.getElementById("unshare-share-post-with-post").addEventListener("click", ()=> {        
          unshare_modal.hide();
          post_share_modal.show();
        })
        
    } else {
      console.log("not active")
      async function share_post(id) {
          const csrf = document.getElementById("csrf");
          formdata = new FormData(csrf)
          response = await fetch("/posts/share/"+id+"/", {method:"POST", body: formdata});
          res = await response.json();
          await console.log(res.status)
          if (res.status === "success") {
            console.log("shared");
            
          } else if (res.status === "failed") {
            console.log(res.errors);

          }
        }
        const share_modal = new bootstrap.Modal(document.getElementById('share-modal'));
        share_modal.show()
        document.getElementById("share-share-post").addEventListener("click", ()=> {
          share_post(el.getAttribute("post-id"));
          get_likes();
          el.classList.add("is-active");
          share_modal.hide();
        })
        document.getElementById("share-share-post-with-post").addEventListener("click", ()=> {  
          share_modal.hide();      
          post_share_modal.show();
        })
    }
        
  } )

})
}

</script>
<script>
function comment_buttons() {
  const  comment_els = document.getElementsByClassName('comment-button');
Array.prototype.forEach.call(comment_els, function (el) {
  el.addEventListener("click", () =>{
    el.classList.toggle("is-active");
    const post_id = el.getAttribute("post-id");
    const comment_div = document.getElementById("comments-div-"+post_id)
    comment_div.classList.toggle("d-none");
    if (comment_div.classList.contains("fetched") === false) {
      async function fetch_comments() {
        response = await fetch("/posts/" + post_id + "/comments/");
        res = await response.json();
        const seprator = document.createElement("div");
        seprator.classList.add("m-3")
        comment_div.append(seprator)
        Array.prototype.forEach.call(res, (comment)=> {
          const comment_html = `
          <div class="new-comment-div">
            <div class="comment-avatar me-1">
              <a href="/users/${comment.fields.user.username}/" class="image-link">
                <img src="${comment.fields.user.avatar_url}" class="avatar comment-avatar" alt="user avatar" width="40px" height="40px">
              </a>
            </div>
            <div class="comment">
              <p><a href="/users/${comment.fields.user.username}/">${comment.fields.user.first_name} ${comment.fields.user.last_name}</a></p>
              <p class="comment-text">${comment.fields.text}</p>
            </div>
          </div>
          `
          const one_comment = document.createElement("div");
          one_comment.innerHTML = comment_html;
          comment_div.append(one_comment);
        })
        comment_div.classList.add("fetched");
      }
      fetch_comments();
    }
  })
})
const cooment_inputs = document.getElementsByClassName("comment-form-input");
Array.prototype.forEach.call(cooment_inputs, function (el) {
  el.addEventListener("keypress", function(e) {
  if (e.keyCode === 13 && e.shiftKey) {}
  else if (e.keyCode === 13) {
    e.preventDefault();
    el.classList.toggle("disabled");
    const form = document.getElementById("comment-form-"+ el.getAttribute("post-id"));
    const formdata = new FormData(form);
    const csrf = document.getElementsByName("csrfmiddlewaretoken")[0];
    console.log(csrf.name + "/n" +csrf.value)
    formdata.append(csrf.name, csrf.value);
    async function send_comment() {
      response = await fetch("/posts/"+el.getAttribute("post-id")+"/comments/new/", {method:"POST", body: formdata});
      res = await response.json()
      if (res.status === "success") {
        console.log("success")
        el.value = "";
        el.classList.toggle("disabled");
      } else {
        console.log(res.errors)
        el.classList.toggle("disabled");
      }
    }
    send_comment();
  }
});
})
}

</script>
<script>
function action_buttons() {
  console.log("a")
  const  action_els = document.getElementsByClassName('action-button');
Array.prototype.forEach.call(action_els, function (el) {
  el.addEventListener("click", () =>{
    el.classList.toggle("is-active");
    console.log("Ok")
  })
})
}
</script>


  </body>
</html>
