{% extends "pages/blog_base.html" %}{% block title %}درباره ما |{% endblock title %}{% block seo %}
<meta
  name="description"
  content="درباره نارنگی، شبکه اجتماعی ثبت رایگان اثرانگشت هر نوع محتوا و آثار هنری به عنوان مدرک کپی‌رایت"
/>
<meta name="subject" content="درباره نارنگی" />
<meta
  name="keywords"
  content="مالکیت فکری, کپی‌رایت, مالکیت معنوی, اثرانگشت بلاکچینی, ثبت کپی‌رایت,اثرانگشت آثار هنری, نارنگی"
/>
<meta name="url" content="https://www.narengi.net/about/" />
{% endblock seo %} {% block post_title %}درباره ما{% endblock post_title %} {% block post %}
<p class="blog-text">
  نارنگی شبکه اجتماعی ثبت اثرانگشت آثار ادبی، هنری و هر نوع محتوا است. شما
  می‌توانید بدون این که اصل اثر خود را در اختیار کسی بگذارید به صورت آفلاین
  اثرانگشت یکتا و یک‌طرفه آن را به کمک
  <a href="https://en.wikipedia.org/wiki/SHA-2" target="_blank">الگوریتم SHA-256</a>
  محاسبه و ثبت نمایید. ما با ایمیل کردن این اثرانگشت و ثبت آن در پایگاه داده خود
  مدرکی از در اختیار داشتن این محتوا در زمانی خاص برای شما ایجاد می‌نماییم.
</p>
<p class="blog-text">
  کمک به دعاوی مالکیت فکری خصوصا در حوزه کپی‌رایت و بررسی جعلی بودن اسناد ثبت
  شده از کاربردهای ثبت اثرانگشت نارنگی برای اشخاص و کسب و کارهاست. همچنین شما
  می‌توانید در شبکه اجتماعی نارنگی آثار خود را به مخاطبان و سرمایه‌گذاران معرفی
  نمایید و برای آن‌ها بازار ، همکار و یا سرمایه‌گذار پیدا کنید.
</p>
{% endblock post %}
