{% extends "pages/blog_base.html" %}{% block seo %}
<meta name="description"
    content="حمایت‌های مالکیت فکری در چند نوع عرضه می‌شوند: پتنت یا ثبت اختراع، طرح صنعتی، کپی‌رایت یا حقوق آثار ادبی و هنری، علامت تجاری، نشان جغرافیایی و راز تجاری">
<meta name="subject" content="انواع مالکیت فکری" />
<meta name="keywords" content="مالکیت فکری, کپی‌رایت, مالکیت معنوی, پتنت, طرح صنعتی, علامت تجاری, نشان جغرافیایی, حقوق آثار ادبی و هنری‌, نارنگی " />
<meta name="url" content="https://www.narengi.net/blog/types-of-intellectual-property-انواع-مالکیت-فکری" />
{% endblock seo %}
{% block post_title %}انواع مالکیت فکری{% endblock post_title %}

{% block post %}
<p class="blog-text">
    قوانین مالکیت فکری عموما دو دسته کلی از حمایت‌ها را پیش‌بینی کرده‌اند: حمایت‌های رسمی و حمایت‌های غیررسمی. حمایت‌های
    رسمی عموما مبتنی بر قراردادهای مشخص و زار تجاری هستند، اما آن دسته از حمایت‌ها که به صورت عام مورد استفاده افراد
    قرار می‌گیرند حمایت‌های رسمی هستند. در این مطلب می‌خواهیم با حمایت‌های رسمی در قوانین مالکیت فکری آشنا شویم.
</p>
<h4 class="pt-3">ثبت اختراع</h4>
<p class="blog-text">
    پتنت یا ثبت اختراع یکی از انواع اصلی مالکیت فکری است. اگر شما محصول کاربردی غیربدیهی را که در تمام دنیا جدید باشد به
    وجود بیاورید و طرز ساخت آن را به صورت کامل برای دستگاه ثبت کننده اختراع هر کشوری که انتخاب کرده‌اید افشاء کنید،
    می‌توانید تا زمانی معمولا حدود بیست سال انحصار ساخت آن محصول را در کشوری که ثبت کرده‌اید به دست بیاورید. نکته‌ی لازم
    توجه در اختراع این است که تا قبل از ثبت به هیچ وجه نباید اختراع خود را برای عموم افشاء کنید.
</p>


<h4 class="pt-3">طرح صنعتی</h4>
<p class="blog-text">
    اگر طراحی خاص و زیبایی برای محصولی انجام داده‌اید و نمی‌خواهید دیگران از طرح شما تقلید کنند باید آن را با عنوان طرح صنعتی ثبت نمایید. طرح صنعتی نیز مانند اختراع بایستی در تمام دنیا جدید باشد و پیش‌تر افشاء نشده باشد. همچنین حمایت از طرح صنعتی نیز مانند اختراع محدود به کشوری است که طرح را در آن ثبت کرده‌اید.
</p>

<h4 class="pt-3">کپی‌رایت یا حقوق آثار ادبی و هنری</h4>
<p class="blog-text">
    نویسندگان، شاعران، نقاش‌ها، مجسمه‌سازها و هر هنرمند و تولیدکننده محتوایی که اثری خاص می‌آفریند حق تکثیر و استفاده مالی از اثر خود را تا چند دهه پس از فوت اختصاصا برای خود یا وراث خود در اختیار دارد. اگر شما اثری را آفریدید بدون نیاز به ثبت صاحب حقوق آن هستید. اما اثبات آفرینش یک اثر جزو کارهای سختی است که عموما با افشاء و امکان تکثیر غیرمجاز اثر همراه است. نارنگی با امکان ثبت بدون افشاء آثار راه حلی آسان برای این مشکل بزرگ فراهم آورده است.
</p>

<h4 class="pt-3">علامت تجاری</h4>
<p class="blog-text">
   همه ما با ارزش برند برای هر شخص یا شرکتی آشنا هستیم. نام، لوگو یا هر علامتی از برند که باعث تمایز یک گروه از محصولات یا خدمات می‌باشد تحت عنوان علامت تجاری قابل ثبت است. شرکت یا فرد صاحب علامت تجاری با ثبت و تمدید علامت خود می‌تواند تا ابد از هویت برند خود صیانت کند.
</p>

<h4 class="pt-3">نشان جغرافیایی</h4>
<p class="blog-text">
    چاقوی زنجان یا سوهان قم وقتی ارزش دارند که واقعا ساخته زنجان یا قم باشند! محصولاتی که با نام یک منطقه جغرافیایی خاص شناخته می‌شوند بایستی حتما تولید شده در آن منطقه باشند. این جاست که نشان جغرافیایی می‌تواند اصالت یک محصول را تضمین کند.
</p>
{% endblock post %}