{% extends "pages/blog_base.html" %}{% block title %}تماس با ما |{% endblock title %}{% block seo %}
<meta
  name="description"
  content="تماس با نارنگی، شبکه اجتماعی ثبت رایگان اثرانگشت هر نوع محتوا و آثار هنری به عنوان مدرک کپی‌رایت"
/>
<meta name="subject" content="تماس با نارنگی" />
<meta
  name="keywords"
  content="مالکیت فکری, کپی‌رایت, مالکیت معنوی, اثرانگشت بلاکچینی, ثبت کپی‌رایت,اثرانگشت آثار هنری, نارنگی"
/>
<meta name="url" content="https://www.narengi.net/contact/" />
{% endblock seo %} {% block post_title %}تماس با ما{% endblock post_title %} {% block post %}
<p class="blog-text">
  ایمیل: <br>
  info AT mail.inonet.ir
</p>
<p class="blog-text">
  شماره تلفن (تماس و واتساپ): <br>
   021-44108489
</p>
{% endblock post %}
