{% extends "base.html" %}
{% block content %}
<div class="container-fluid pt-5 original-background page-app">
    <div class="col-md-6 mx-auto bg-white post p-5">
        <div>
            <div class="p-3">
                <p class="text-center">
                    بدون این که اصل اثرت رو آپلود کنی یا به کسی بدی به همه دنیا بگو اثر جدیدی آفریدی! اینونت برات یه شاهد و سند معتبر از وجود اثرت در این زمان می‌سازه و خیلی راحت هم می‌تونی سرمایه‌گذار، ناشر و یا همکار برای اثرت پیدا کنی!
                    </p>
            </div>
            <div class="row text-center pb-0 pt-1 mb-0">
                <div class="col-md-3 col-sm-6 col-6">
                    <a href="/works/new/" class="home-icon-link">
                        <span class="material-icons-outlined font-50 new-work-icon">
                        note_add
                    </span>
                    <p>
                        اثر جدید
                    </p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <a href="/fingerprints/new_work/" class="home-icon-link">
                        <span class="material-icons-outlined font-50 fingerprint-icon">
                        fingerprint
                    </span>
                    <p>
                        ثبت گواهی‌زمانی
                    </p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <a href="/fingerprints/validate/" class="home-icon-link">
                        <span class="material-icons-outlined font-50 verified-icon">
                        verified
                    </span>
                    <p>
                        اعتبارسنجی
                    </p>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <a href="" class="home-icon-link">
                        <span class="material-icons-outlined font-50 feed-icon">
                        feed
                    </span>
                    <p>
                        خبر جدید
                    </p>
                    </a>
                </div>
            </div>
        <div>
    </div>

    </div>
</div>
<div id="posts">

</div>

{% endblock content %}
{% block inline_javascript %}
<script>
     async function load_posts() {
      const response = await fetch("/posts/", {
                    method: 'GET',
                });
                document.getElementById("posts").innerHTML = await response.text();
                await console.log(response)
                await buttons();
    }
    load_posts();
</script>
{% endblock inline_javascript %}