{% extends "base.html" %} {% block content %}
<div class="container-fluid pt-5 original-background page-app">
  <div class="col-md-6 mx-auto bg-white post p-5">
    <div>
      <div class="p-3">
        <p class="text-center lh-base">
          بدون این که اصل اثرت رو آپلود کنی یا به کسی بدی به همه دنیا بگو اثر
          جدیدی آفریدی! نارنگی برات یه شاهد و سند معتبر از وجود اثرت در این زمان
          می‌سازه و خیلی راحت هم می‌تونی سرمایه‌گذار، ناشر و یا همکار برای اثرت
          پیدا کنی!
        </p>
      </div>
      <div class="row text-center pb-0 pt-1 mb-0">
        <div class="col-md-3 col-sm-6 col-6">
          <a href="/works/new/" class="home-icon-link">
            <span class="material-icons-outlined font-50 new-work-icon">
              note_add
            </span>
            <p>اثر جدید</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <a href="/fingerprints/new_work/" class="home-icon-link">
            <span class="material-icons-outlined font-50 fingerprint-icon">
              fingerprint
            </span>
            <p>ثبت گواهی‌زمانی</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <a href="/fingerprints/validate/" class="home-icon-link">
            <span class="material-icons-outlined font-50 verified-icon">
              verified
            </span>
            <p>اعتبارسنجی</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-6">
          <a
            href="javascript:void(0);"
            class="home-icon-link"
            id="new-post-home"
          >
            <span class="material-icons-outlined font-50 feed-icon">
              feed
            </span>
            <p>خبر جدید</p>
          </a>
        </div>
      </div>
      <div></div>
    </div>
  </div>
  {% if not request.user.is_authenticated %}
  <div class="col-md-6 mx-auto mt-3 p-4">
    <img referrerpolicy='origin' id = 'nbqejzpergvjjxlznbqejzpe' style = 'cursor:pointer' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=273127&p=uiwkjyoexlaorfthuiwkjyoe", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src = 'https://logo.samandehi.ir/logo.aspx?id=273127&p=odrfyndtqftinbpdodrfyndt' />
  </div>
  {% endif %}
  {% if request.user.is_authenticated %}
  <div id="posts">
    <div class="m-5">
      <div class="d-flex justify-content-center">
        <div class="spinner-grow text-primary m-2" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success m-2" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-warning m-2" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info m-2" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-danger m-2" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  {% endif %} {% endblock content %} {% block inline_javascript %} {% if request.user.is_authenticated %}
  <script>

            {% comment %} document.addEventListener("DOMContentLoaded", ()=> {
                load_posts("/posts/", "posts", false);

            }) {% endcomment %}

    document.addEventListener("DOMContentLoaded", () => {
      fetchPosts("/posts/", "posts", false);
    });

    window.addEventListener("scroll", async () => {
      // Do not run if currently fetching
      if (isFetching) return;

      // Scrolled to bottom
      if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
        await fetchPosts("/posts/", "posts", false);
        console.log(currentPage)
      }
    });



            document.getElementById("new-post-home").addEventListener("click", () => {
                document.getElementById("new-post-nav").click()
            })
  </script>
  {% else %}
  <script>
    document.getElementById("new-post-home").addEventListener("click", () => {
      window.location.href = "/accounts/login/";
    });
  </script>
  {% endif %} {% endblock inline_javascript %}
</div>
{% block end_javascript %}
  <script>
    is_home = true;
  </script>
{% endblock end_javascript %}