    {% extends "pages/blog_base.html" %}{% block seo %}
    <meta name="description" content="مالکیت فکری چیست؟ مالکیت معنوی چیست؟ در این مطلب به تعریف و بررسی مفهوم مالکیت فکری می‌پردازیم.">
    <meta name="subject" content="تعریف مالکیت فکری"/>
    <meta name="keywords" content="مالکیت فکری, کپی‌رایت, مالکیت معنوی, حق تکثیر, نارنگی "/>
    <meta name="url" content="https://www.narengi.net/blog/what-is-intellectual-property-مالکیت-فکری-چیست" />
    {% endblock seo %}
  {% block post_title %}مالکیت فکری چیست؟{% endblock post_title %}

    {% block post %}
    <p class="blog-text">
        مالکیت فکری به آفریده‌های ذهنی همچون اختراعات، آثار ادبی و هنری، طراحی‌ها، نمادها، نام‌ها و تصاویر تجاری مرتبط است.<br>«سازمان جهانی مالکیت‌فکری»
    </p>

    <p class="blog-text">
        وقتی فردی اثری هنری را می‌آفریند می‌خواهد به عنوان پدیدآورنده آن اثر شناخته شود و سود حاصل از عرضه‌ی آن را به دست آورد. در هنگام خرید وقتی میان چند محصول مردد هستیم، محصولی را انتخاب می‌کنیم که برند آن معروف‌تر و معتبرتر باشد.
    </p>

    <p class="blog-text">
        وقتی سازنده یک محصول روی زیبایی ظاهر محصول خود کار می‌کند می‌خواهد خیالش راحت باشد که دیگران از طرح زیبای او تقلید نمی‌کنند. همچنین تنها در صورتی حاضر می‌شویم عمر خود را روی ساخت محصولی جدید بگذاریم که بدانیم پس از ساخت آن می‌توانیم از آن کسب منفعت کنیم. 
    </p>

    <p class="blog-text">
        همه موارد فوق نشان‌دهنده ارزشی است که ما برای آفریده‌های ذهنی خود قائلیم و بدون ساز و کاری مناسب که خیال‌مان را راحت کنید، انگیزه‌ای برای آفرینش نداریم. قوانین مالکیت فکری قوانینی هستند که در دنیا برای حمایت از همین حقوق تدوین شده‌اند. این قوانین با اعطای دوره‌ای از انحصار در بهره‌برداری از آفریده‌های ذهنی برای پدیدآورنده‌ی آن، نقش مهمی در پیشرفت کشورها بازی می‌کنند.
    </p>

    <p class="blog-text">
        ایران هم مانند اکثر کشورهای دنیا قوانین مختلف مالکیت فکری را تصویب و اجرایی نموده است. چیزی که خیلی از افراد نمی‌دانند و با گفتن این جمله که ایران کپی‌رایت ندارد تمامی حقوق خود را فراموش می‌کنند. برای همین ما در نارنگی برآنیم تا ابزارها و آموزش‌های لازم را برای بهره‌برداری از حقوق مالکیت فکری به رایگان در اختیار شهروندان ایرانی قرار دهیم. شاید اولین قدم برای آشنایی با مالکیت فکری، شناخت انواع مالکیت فکری باشد!
    </p>
    {% endblock post %}
