{% extends "pages/blog_base.html" %}{% block seo %}
<meta name="description"
    content="آیا در ایران هم کپی‌رایت داریم؟ آیا در ایران هم قوانین مالکیت فکری و معنوی داریم؟ جواب بر خلاف انتظار بله است!" />
<meta name="subject" content="تعریف مالکیت فکری" />
<meta name="keywords"
    content="مالکیت فکری, کپی‌رایت, مالکیت معنوی, مالکیت فکری در ایران, مالکیت معنوی در ایران, کپی‌رایت در ایران, ایران, نارنگی" />
<meta name="url" content="https://www.narengi.net/blog/intellectual-property-Iran-مالکیت-فکری-در-ایران" />
{% endblock seo %} {% block post_title %}مالکیت فکری در ایران{% endblock post_title %} {% block post %}
<p class="blog-text">
    آیا ما در ایران هم کپی‌رایت داریم؟ آیا ما در ایران قوانین مالکیت فکری و معنوی
    داریم؟ جواب کوتاه این پرسش‌ها برخلاف انتظار بسیاری بله است! پس چرا در ایران
    آثار بسیاری بدون اجازه کپی و پخش می‌شود؟ برای بررسی این موضوع شاید لازم باشد
     درباره مالکیت فکری و وضعیت آن در ایران بیش‌تر بدانیم.
</p>
<p class="blog-text">
    ایران یکی از قدیمی‌ترین کشورهای دارای قانون مالکیت فکری در دنیاست به گونه‌ای که اولین قانون این حوزه در سال ۱۳۱۰
    تصویب شده است (<a href="https://rc.majlis.ir/fa/law/show/92280" target="_blank">منبع</a>)! ما از سال ۲۰۰۱ میلادی عضو
    سازمان تجارت جهانی هستیم و به بسیاری از کنوانسیون‌های این حوزه نیز پیوسته‌ایم. اما چرا با این وجود اکثر مردم فکر
    می‌کنند ما قوانین مالکیت فکری یا کپی‌رایت نداریم؟ ریشه این امر در همین جمله کپی‌رایت نداریم نهفته است.
</p>
<p class="blog-text">
    همان‌گونه که در مطلب
    <a href="{% url 'types_of_ip' %}">انواع مالکیت فکری</a>
    بیان کردیم، ما انواع مختلفی از مالکیت فکری مانند ثبت اختراع، ثبت طرح صنعتی و... را داریم که یکی از انواع آن کپی‌رایت
    است. هم‌چنین همان‌گونه که در همان مطلب دیدیم قوانین مالکیت فکری سرزمینی هستند و شما برای استفاده از این حقوق اختراع،
    طرح یا علامت خود را در هر کشور باید جداگانه ثبت کنید.
</p>
<p class="blog-text">
    در این میان کپی‌رایت به عنوان نوع خاصی از مالکیت فکری که نیاز به ثبت ندارد وضعیت نسبتا متفاوتی دارد. از آن جا که
    صاحب کپی‌رایت ممکن است در هر وضعیت و مکانی اثر خود را بیافریند و منتشر کند عموم کشورها در
    <a href="https://www.wipo.int/treaties/en/ip/berne/" target="_blank">کنوانسیون برن</a>
    پذیرفته‌اند که آثار منتشره در تمام کشورهای عضو حقوق یکسانی داشته باشند. یعنی فرقی ندارد شما اثر را بار اول در فرانسه
    یا آمریکا یا عضو دیگری از این کنوانسیون منتشر کرده باشید، تمام اعضای کنوانسیون باید در هر حال حق تکثیر (کپی‌رایت)
    برابری
    برای اثر برای شما قائل باشند.
</p>
<p class="blog-text">
    همان‌گونه که احتمالا تا الان حدس زده‌اید ایران به این کنوانسیون نپیوسته است و آثار منتشره در ایران در کشورهای دیگر
    از جمله اعضای این کنوانسیون حق تکثر محافظت شده‌ای ندارند. در برابر آن نیز آثار منتشره در کشورهای دیگر اعم از اعضای
    کنوانسیون برن در ایران آزادانه قابل تکثیر هستند! در نتیجه کپی کردن آثار ادبی و هنری خارجی در یارن غیرقانونی نیست
    همان گونه که کپی کردن آثاری که برای اولین بار در ایران منتشر شده‌اند در خارج از ایران غیرقانونی نیست!
</p>

<p class="blog-text">
    این موضوع موجب مشکلات و مسائل بسیاری برای ایران شده است. ارزان و رایگان بودن محصولات خارجی یکی از اصلی‌ترین این
    مشکلات است که
    عملا امکان رقابت طرف ایرانی را با رقبای غیرایرانی گرفته است. امری که اتفاقا خود یکی از دلایل نپیوستن به کنوانسیون
    برن است یعنی عادت به ویندوز و نرم‌افزار تقریبا رایگان کپی!
</p>
<p class="blog-text">
    در این میان جدا از این مشکل خاص (که مشکل بزرگی نیز هست) در باقی حوزه‌ها حداقل از لحاظ قانونی زمینه ثبت و بهره‌برداری
    از حقوق مالکیت فکری مشابه دیگر کشورها وجود دارد. در کپی‌رایت هم ایرانی‌ها در خود ایران از حقوق این حوزه بهره‌مند
    هستند و مشکل اصلی بیش‌تر برای غیرایرانی‌هاست! اما شاید ناآگاهی از این حقوق یکی از مشکلات اصلی شهروندان ایرانی است که
    موجب شده است با انگاره اشتباه «ما در ایران کپی‌رایت نداریم» حقوق خود را در بسیاری اوقات از دست بدهند.
</p>
<p class="blog-text">
    نارنگی با توجه به همین مسئله در تلاش است که در کنار آموزش فراگیر این حوزه، امکان ثبت رایگان اثرانگشت آثار را نیز برای شهروندان ایرانی فراهم نماید تا زمینه پیگیری این حقوق را تسهیل نماید.
</p>
{% endblock post %}