{% extends "pages/blog_base.html" %}{% block title %}خدمات ما |{% endblock title %}{% block seo %}
<meta
  name="description"
  content="خدمات نارنگی، شبکه اجتماعی ثبت رایگان اثرانگشت هر نوع محتوا و آثار هنری به عنوان مدرک کپی‌رایت"
/>
<meta name="subject" content="خدمات نارنگی" />
<meta
  name="keywords"
  content="خدمات ما, نارنگی"
/>
<meta name="url" content="https://www.narengi.net/privacy/" />
{% endblock seo %} {% block post_title %}خدمات ما{% endblock post_title %} {% block post %}
<p class="blog-text pt-3">
ما در نارنگی چند خدمت اصلی را به کاربران ارائه می‌دهیم.
</p>
<p class="blog-text">
اولین خدمت ما ثبت زمانی بدون افشاء آثار هنری است که به صورت رایگان قابل انجام است. همچین آثار ثبت شده را به رایگان می‌توانید اعتبارسنجی کنید.
</p>
<p class="blog-text pt-3">
همچنین کاربران نارنگی می‌توانند برای دریافت خدمات حرفه‌ای مانند مشاوره‌های تخصصی مالکیت فکری و یا تجاری‌سازی کسب و کارهای هنری و خلاق
<a href="/contact/">با ما تماس بگیرند</a>
 .
</p>
{% endblock post %}