{% extends "pages/blog_base.html" %}{% block title %}قوانین و مقررات |{% endblock title %}{% block seo %}
<meta
  name="description"
  content="قوانین و مقررات نارنگی، شبکه اجتماعی ثبت رایگان اثرانگشت هر نوع محتوا و آثار هنری به عنوان مدرک کپی‌رایت"
/>
<meta name="subject" content="قوانین و مقررات نارنگی" />
<meta
  name="keywords"
  content="قوانین و مقررات, نارنگی"
/>
<meta name="url" content="https://www.narengi.net/policy/" />
{% endblock seo %} {% block post_title %}قوانین و مقررات{% endblock post_title %} {% block post %}
<p class="blog-text pt-3">
استفاده از وب‌سایت، اپلیکیشن‌ها و خدمات نارنگی به منزله پذیرش قوانین و مقررات اسفاده از نارنگی است.
</p>
<p class="blog-text">
  تمامی محتوای تولیدی توسط تیم نارنگی اعم از محتوای دانش‌نامه و بلاگ متعلق به مالک نارنگی بوده و تمامی حقوق آن محفوظ است.
</p>
<p class="blog-text">
  هر گونه حمله اینترنتی، دسترسی و دستکاری غیرمجاز به نارنگی ممنوع بوده و پیگرد قانونی دارد.
</p>
<p class="blog-text">
  نارنگی مسئولیتی در ادامه فعالیت خود نداشته و اگر تصمیم به قطع فعالیت بگیرد خدمات خود را قطع می‌نماید.
</p>
<p class="blog-text">
  کاربران بایستی از تمام محتواهای مورد نیاز خود به صورت مستمر نسخه پشتیبان امن تهیه نمایند و نارنگی مسئولیتی در قبال از دست رفتن اطلاعات و... در صورت هرگونه مشکلی ندارد.
</p>
<p class="blog-text">
  کاربران بایستی به صورت مستمر به بررسی تغییرات این صفحه و قوانین و مقررات سایت بپردازند. نارنگی حق خود را برای بازبینی این قوانین و مقررات محفوظ می‌داند.
</p>
{% endblock post %}