{% extends "pages/blog_base.html" %}{% block title %}حریم خصوصی |{% endblock title %}{% block seo %}
<meta
  name="description"
  content="سیاست‌های حریم خصوصی نارنگی، شبکه اجتماعی ثبت رایگان اثرانگشت هر نوع محتوا و آثار هنری به عنوان مدرک کپی‌رایت"
/>
<meta name="subject" content="حریم خصوصی نارنگی" />
<meta
  name="keywords"
  content="حریم خصوصی, نارنگی"
/>
<meta name="url" content="https://www.narengi.net/privacy/" />
{% endblock seo %} {% block post_title %}حریم خصوصی{% endblock post_title %} {% block post %}
<p class="blog-text pt-3">
نارنگی به صورت مستمر به بررسی و تدوین سیاست‌های حفظ حریم خصوصی کاربران می‌پردازد. نارنگی اطلاعات کاربران را بدون حکم یا ترتیبات قانونی در اختیار نهادی قرار نخواهد داد. همچنین در ارزیابی‌های همراه با شخص سوم، اطلاعات افراد بدون اسم و نشانه خواهند شد.
</p>
{% endblock post %}