{% extends "pages/blog_base.html" %}{% block title %}دریافت گواهی زمانی |{% endblock title %}{% block seo %}
<meta
  name="description"
  content="دریافت گواهی زمانی نارنگی، شبکه اجتماعی ثبت رایگان اثرانگشت هر نوع محتوا و آثار هنری به عنوان مدرک کپی‌رایت"
/>
<meta name="subject" content="دریافت گواهی زمانی نارنگی" />
<meta
  name="keywords"
  content="دریافت گواهی زمانی, نارنگی"
/>
<meta name="url" content="https://www.narengi.net/timestamp-certificate/" />
{% endblock seo %} {% block post_title %}دریافت گواهی زمانی{% endblock post_title %} {% block post %}
<p class="blog-text pt-3">
نارنگی به شما کمک می‌کند به صورت رایگان گجواهی زمانی اثر خود را دریافت کنید. اما گواهی زمانی چیست و به چه دردی می‌خورد؟ 
</p>
<p class="blog-text">
فرض کنید که شما در حال نگارش یک داستان هستید و هم‌زمان با ناشرهای مختلف نیز مذاکره می‌کنید. اگر یکی از این نشاران بدون اجازه شما داستان‌تان را منتشر کند چگونه می‌توانید از او شکایت کنید؟ با چه مدرکی می‌توانید ثابت کنید شما نویسنده داستان بوده‌اید نه یکی از اقوام ناشر؟</p>
<p class="blog-text">
گواهی زمانی یکی از مهم‌ترین مدارکی است که در چنین وضعیتی به کمک شما می‌آید. اگر شما پیش از آن که اثر خود را در اختیار ناشر بگذارید گواهی زمانی آن را دریافت کرده باشید می‌توانید با مراجعه به نهادهای داوری یا قضایی به کمک این گواهی زمانی نشان دهید که شما پیش از ناشر اثر را در اختیار داشته‌اید پس با احتمال بیش‌تری شما مولف و صاحب حقوق آن اثر هستید نه فردی که ناشر ادعا می‌کند.</p>

{% endblock post %}