{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "تایید آدرس ایمیل" %}{% endblock %}


{% block inner %}
<h1>{% trans "تایید آدرس ایمیل" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}لطفا در صورت صحت تایید کنید که آدرس <a href="mailto:{{ email }}">{{ email }}</a> متعلق به شما با نام کاربری {{ user_display }} است.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}این آدرس فعالسازی منقضی شده است. با ورود مجدد به سایت ایمیل جدیدی دریافت خواهید کرد اما در صورت ادامه یافتن مشکل لطفا از طریق آدرس <a href="{{ email_url }}"> مشکل خود را پیگیری نمایید.</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
