{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<h1 class="text-center mb-4">{% trans "Sign Up" %}</h1>


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="row">
    <div class="fieldWrapper mb-3 col-6">
      <label for="{{ form.first_name.id_for_label }}">نام</label>
      {{ form.first_name }}
      <div class="invalid-feedback d-block">
        {{ form.first_name.errors }}
      </div>
    </div>
    <div class="fieldWrapper mb-3 col-6">
      <label for="{{ form.last_name.id_for_label }}">نام خانوادگی</label>
      {{ form.last_name }}
      <div class="invalid-feedback d-block">
        {{ form.last_name.errors }}
      </div>
    </div>
  </div>
  <div class="fieldWrapper mb-3">
    <label for="{{ form.username.id_for_label }}">نام کاربری</label>
    {{ form.username }}
    <div class="invalid-feedback d-block">
      {{ form.username.errors }}
    </div>
  </div>
  <div class="fieldWrapper mb-3">
    <label for="{{ form.email.id_for_label }}">ایمیل</label>
    {{ form.email }}
    <div class="invalid-feedback d-block">
      {{ form.email.errors }}
    </div>
  </div>
  <div class="fieldWrapper mb-3">
    <label for="{{ form.password1.id_for_label }}">رمزعبور</label>
    {{ form.password1 }}
    <div class="invalid-feedback d-block">
      {{ form.password1.errors }}
    </div>
  </div>
  <div class="fieldWrapper mb-3">
    <label for="{{ form.password2.id_for_label }}">تکرار رمزعبور</label>
    {{ form.password2 }}
    <div class="invalid-feedback d-block">
      {{ form.password2.errors }}
    </div>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <p>
    با ثبت‌نام در سایت شما تایید می‌کنید که 
    <a href="/policy/">قوانین و مقررات</a> اینونت را خوانده‌اید و پذیرفته‌اید.
  </p>
  <p>{% blocktrans %}قبلا ثبت نام کردی؟ <a href="{{ login_url }}">ورود</a>{% endblocktrans %}</p>

  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit" id="submit-button">{% trans "Sign Up" %}</button>
  </div>
</form>


{% endblock %}