{% load i18n %} {% load static %}
{% translate "پسند جدید" as NL %}
{% translate "نظر جدید" as NC %}
{% translate "دنبال کننده جدید" as NF %}
{% translate "بازنشر جدید" as NS %}
{% translate "بازنشر جدید (با متن)" as NT %}

{% for notification in object_list %}
<div {% if notification.seen %}class="pt-2 pb-2 seen-notification"{% elif notification.got %}class="pt-2 pb-2 new-notification notification"{%else%}class="pt-2 pb-2 new-notification notification not-got"{% endif %}>
<li class="dropdown-item">
{% if notification.notification_type == NL %}
<a href="/posts/{{notification.post.pk}}/">
    <span class="material-icons-outlined align-middle text-danger">
    favorite
    </span>
    {% if notification.actor.avatar.url %}
    <img src={{notification.actor.avatar.url}} height="45px" width="45px" class="avatar">
    {% else %}
    <img src="{% static 'images/picture.svg' %}" class="avatar" alt="avatar" width="45px" height="45px">
    {% endif %}
    
    {{notification.actor.first_name}} {{notification.actor.last_name}} 
    پست شما را پسندیده است.
</a>
{% endif %}
{% if notification.notification_type == NC %}
<a href="/posts/{{notification.post.pk}}/">
    <span class="material-icons-outlined align-middle text-primary">
    chat
    </span>
    {% if notification.actor.avatar.url %}
    <img src={{notification.actor.avatar.url}} height="45px" width="45px" class="avatar">
    {% else %}
    <img src="{% static 'images/picture.svg' %}" class="avatar" alt="avatar" width="45px" height="45px">
    {% endif %}
    {{notification.actor.first_name}} {{notification.actor.last_name}} 
    نظر جدیدی برای پست شما نوشته است.
</a>
{% endif %}
{% if notification.notification_type == NF %}
<a href="/users/{{notification.actor.username}}/">
    <span class="material-icons-outlined align-middle text-primary">
    person_add
    </span>
    {% if notification.actor.avatar.url %}
    <img src={{notification.actor.avatar.url}} height="45px" width="45px" class="avatar">
    {% else %}
    <img src="{% static 'images/picture.svg' %}" class="avatar" alt="avatar" width="45px" height="45px">
    {% endif %}
    {{notification.actor.first_name}} {{notification.actor.last_name}}
    شما را دنبال می‌کند.
</a>
{% endif %}
{% if notification.notification_type == NS %}
<a href="/posts/{{notification.post.pk}}/">
    <span class="material-icons-outlined align-middle text-success">
    share
    </span>
    {% if notification.actor.avatar.url %}
    <img src={{notification.actor.avatar.url}} height="45px" width="45px" class="avatar">
    {% else %}
    <img src="{% static 'images/picture.svg' %}" class="avatar" alt="avatar" width="45px" height="45px">
    {% endif %}
    پست شما را به اشتراک گذاشته است.
</a>
{% endif %}
{% if notification.notification_type == NT %}
<a href="/posts/{{notification.post.pk}}/">
    <span class="material-icons-outlined align-middle text-success">
    share
    </span>
    {% if notification.actor.avatar.url %}
    <img src={{notification.actor.avatar.url}} height="45px" width="45px" class="avatar">
    {% else %}
    <img src="{% static 'images/picture.svg' %}" class="avatar" alt="avatar" width="45px" height="45px">
    {% endif %}
    با نگارش پست جدید، پست شما را به اشتراک گذاشته است.
</a>
{% endif %}

</li>
</div>
{% endfor %}
