.masthead {
    margin-top: 0px;
    padding-top: 70px;
    height: 100vh;
    min-height: 500px;
 
  }

#id_description {
    height: 100px;
}

#header {
    direction: ltr !important;
    height: 100vh;

    background-image: url("../images/Header.svg");
    background-size: cover;
}

#upload-form {
    padding-top: 60px;
}



@media screen and (max-width: 720px) {
    #upload-form {
        padding-top: 20px;
    }
    
}

#content, #bodyfullwidth {
    padding-top: 0px !important;
    padding-bottom: 60px;
  }


#team {
    background:rgb(196, 196, 196) !important;
    
}

.btn-primary:hover,
.btn-primary:focus {

    box-shadow: none;
    outline: none;
}



section {
    padding: 50px 0;
}

section .section-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


/* Droppable Zone */

#droppable-zone {
    border: 10px dashed #ccc;
    height: 150px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  #droppable-zone.hover {
    border: 10px dashed #aaa;
  }
  
  #droppable-zone-wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }
  
  #droppable-zone-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 33px;
    overflow: hidden;
  }
  
  .droppable-file {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }



